# macOS
.DS_Store
**/.DS_Store


# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Database
*.sqlite3
db.sqlite3

# Environment Variables & Secrets
.env

# IDE / Editor configs
.vscode/
.idea/

# Media and Static root (optional in dev)
media/
staticfiles/
